.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 15px;
}
.App select {
  outline: 2px solid;

  padding: 10px 15px;
  border-radius: 10px;
  border: 0;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  border-right: 5px solid transparent;
}
.App img {
  height: 500px;
  margin: 20px 0;
}
